body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    color: black;    
    }
    h1{
        text-align: center;
        color: azure;
        text-shadow: 5px 5px 5px #000;
        /* descolamento-x *| descolamento-y| raio-de-desfoque| cor*/
    }
    h2{
        color: royalblue;
    }
    .cabecalho_ol{
        text-align: center;
        color: rgb(128, 17, 17);
        text-shadow: 2px 2px 2px #000;
    
    }
    hr{
        border-top: 10px solid #FF8C00;
    }
    hr#linha1{
        border-top: 10px dashed #F5F5F5;
        border-left: 10px dashed #B0E0E6;
        border-right: 10px dashed PaleGoldenrod;
        border: 1px solid #FFD700;
    }